/* grid presidents and cart to make two different part */

.presidents-details {
    display: grid;
    grid-template-columns: 4fr 1.1fr;
    margin-top: 110px;
}

.presidents {
    margin-left: 2%;
}


/* grid for make precidents in three columns */

.president-informations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 15px;
}


/* cart styles */

.cart {
    text-align: center;
    top: 52%;
    right: 3%;
}

.cart button {
    border-radius: 100px;
    margin-top: 16px;
    padding: 8px 36px;
}